<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shushuo.mapper.AttractionsMapper">
    <select id="getCountByTag" resultType="com.shushuo.entity.AttractionsCount">
        SELECT aat.tag_name as tagName,count(0) as count
        FROM att_tag ata
                 LEFT JOIN attractions a
                           ON ata.attractions_id = a.id
                 LEFT JOIN attractions_tag aat
                           ON aat.tag_id = ata.tag_id
        GROUP BY ata.tag_id
    </select>

</mapper>
