.page-container {
  width: 1540px;
  height: 950px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  width: 1044px;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-up {
  width: 1044px;
  height: 570px;
  border-radius: 12px;
  background: rgba(46, 47, 64, 1);
}

.left-up .title {
  width: 1044px;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px double rgba(65, 66, 81, 1);
}

.left-up .title .img {
  width: 12px;
  height: 17px;
  margin-left: 16px;
  background-image: url('@/assets/PeopleLivelihood/CulturalTourism/chart-title-triangle.png');
}

.left-up .title .text {
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.left-up .content {
  width: 1044px;
  height: 518px;
}

.left-down {
  width: 1044px;
  height: 360px;
  display: flex;
  justify-content: space-between;
}

.left-down-left {
  width: 512px;
  height: 360px;
  border-radius: 12px;
  background: rgba(46, 47, 64, 1);
}

.left-down-left .title {
  width: 512px;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px double rgba(65, 66, 81, 1);
}

.left-down-left .title .img {
  width: 12px;
  height: 17px;
  margin-left: 16px;
  background-image: url('@/assets/PeopleLivelihood/CulturalTourism/chart-title-triangle.png');
}

.left-down-left .title .text {
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.left-down-left .content {
  width: 512px;
  height: 308px;
}

.left-down-right {
  width: 512px;
  height: 360px;
  border-radius: 12px;
  background: rgba(46, 47, 64, 1);
}

.left-down-right .title {
  width: 512px;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px double rgba(65, 66, 81, 1);
}

.left-down-right .title .img {
  width: 12px;
  height: 17px;
  margin-left: 16px;
  background-image: url('@/assets/PeopleLivelihood/CulturalTourism/chart-title-triangle.png');
}

.left-down-right .title .text {
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.left-down-right .content {
  width: 512px;
  height: 308px;
}

.right {
  width: 476px;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-up {
  width: 476px;
  height: 570px;
  border-radius: 12px;
  background: rgba(46, 47, 64, 1);
}

.right-up .title {
  width: 476px;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px double rgba(65, 66, 81, 1);
}

.right-up .title .img {
  width: 12px;
  height: 17px;
  margin-left: 16px;
  background-image: url('@/assets/PeopleLivelihood/CulturalTourism/chart-title-triangle.png');
}

.right-up .title .text {
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.right-up .content {
  width: 476px;
  height: 518px;
}

.right-down {
  width: 476px;
  height: 360px;
  border-radius: 12px;
  background: rgba(46, 47, 64, 1);
}

.right-down .title {
  width: 476px;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px double rgba(65, 66, 81, 1);
}

.right-down .title .img {
  width: 12px;
  height: 17px;
  margin-left: 16px;
  background-image: url('@/assets/PeopleLivelihood/CulturalTourism/chart-title-triangle.png');
}

.right-down .title .text {
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.right-down .content {
  width: 476px;
  height: 308px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-y: auto;
}

.right-down .content div {
  width: 384px;
  height: 68px;
  min-width: 384px;
  min-height: 68px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.right-down .content div span {
  margin-left: 16px;
}