.container {
  width: 1920px;
  height: 1080px;
  background-image: url("@/assets/PeopleLivelihood/PeopleLivelihoodHome/background.png");
}

.header {
  width: 1920px;
  height: 100px;
  background-image: url("@/assets/PeopleLivelihood/PeopleLivelihoodHome/top.png");
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: white;
  font-weight: bold;
}

.header div {
  cursor: pointer;
}

.content {
  margin-top: 86px;
  width: 1920px;
  height: 894px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content-box-opacity-radius {
  border-radius: 16px;
  background-color: rgba(204, 204, 204, 0.15);
}

.box-public {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  transition: all 200ms ease-in-out;
  cursor: pointer;

  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

.box-public:hover {
  opacity: 0.9;
  transform: scale(1.06);
}

.cnt-colum-left {
  width: 498px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cnt-colum-left-up {
  width: 498px;
  height: 198px;
  transition: all 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cnt-colum-left-up .title {
  margin-left: 12px;
  width: 474px;
  height: 50px;
  font-size: 26px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cnt-colum-left-up .title span:nth-child(2) {
  cursor: pointer;
  font-size: 18px;
}

.cnt-colum-left-up .title span:nth-child(2):hover {
  color: aqua;
  cursor: pointer;
}

.cnt-colum-left-up .cnt {
  margin-left: 12px;
  width: 474px;
  height: 148px;
  display: flex;
}

.cnt-colum-left-up .cnt>div {
  width: 237px;
  height: 148px;
  font-size: 18px;
  color: white;
}

.cnt-colum-left-up .cnt>div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cnt-colum-left-up .cnt>div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cnt-colum-left-down {
  width: 498px;
  height: 634px;
  transition: all 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cnt-colum-left-down .title {
  margin-left: 12px;
  width: 474px;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 26px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cnt-colum-left-down .title span:nth-child(2) {
  cursor: pointer;
  font-size: 18px;
}

.cnt-colum-left-down .title span:nth-child(2):hover {
  color: aqua;
  cursor: pointer;
}

.cnt-colum-left-down .list-box {
  margin-left: 12px;
  width: 474px;
  height: 584px;
  display: flex;
  flex-direction: column;
}

.cnt-colum-left-down .list-box .li {
  height: 44.9px;
  width: 474px;
  text-decoration: none;
  font-size: 18px;
  color: white;

  display: flex;
  align-items: center;
}

.cnt-colum-left-down .list-box .li:hover {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 4px;
}

.cnt-colum-left-down .list-box .li span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cnt-colum-middle {
  width: 809px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cnt-colum-middle-up {
  width: 809px;
  height: 616px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 200ms ease-in-out;
}

.cnt-colum-middle-up-left {
  height: 568px;
  width: 367px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cnt-colum-middle-up-left-up {
  width: 367px;
  height: 172.5px;
  border-radius: 30px;
  background: linear-gradient(135deg, rgba(38, 118, 255, 1) 0%, rgba(81, 210, 252, 1) 100%);
  -webkit-animation-name: cnt-colum-middle-up-left-up-animation;
}

@-webkit-keyframes cnt-colum-middle-up-left-up-animation {
  0% {
    box-shadow: 0 0px 0px rgba(81, 210, 252, 0), 0 0px 0px rgba(81, 210, 252, 0) inset;
  }

  100% {
    border: 0px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0px 18px rgba(81, 210, 252, 1), 0 0px 18px rgba(81, 210, 252, 1) inset;
  }
}

.cnt-colum-middle-up-left-middle {
  width: 367px;
  height: 172.5px;
  display: flex;
  justify-content: space-between;
}

.cnt-colum-middle-up-left-middle-left {
  width: 173px;
  height: 172.5px;
  border-radius: 30px;
  background: linear-gradient(135deg, rgba(255, 54, 87, 1) 0%, rgba(255, 175, 125, 1) 100%);
  -webkit-animation-name: cnt-colum-middle-up-left-middle-left-animation;
}

@-webkit-keyframes cnt-colum-middle-up-left-middle-left-animation {
  0% {
    box-shadow: 0 0px 0px rgba(255, 175, 125, 0), 0 0px 0px rgba(255, 175, 125, 0) inset;
  }

  100% {
    border: 0px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0px 18px rgba(255, 175, 125, 1), 0 0px 18px rgba(255, 175, 125, 1) inset;
  }
}

.cnt-colum-middle-up-left-middle-right {
  width: 173px;
  height: 172.5px;
  border-radius: 30px;
  background: linear-gradient(225deg, rgba(98, 227, 212, 1) 0%, rgba(62, 154, 230, 1) 100%);
  -webkit-animation-name: cnt-colum-middle-up-left-middle-right-animation;
}

@-webkit-keyframes cnt-colum-middle-up-left-middle-right-animation {
  0% {
    box-shadow: 0 0px 0px rgba(98, 227, 212, 0), 0 0px 0px rgba(98, 227, 212, 0) inset;
  }

  100% {
    border: 0px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0px 18px rgba(98, 227, 212, 1), 0 0px 18px rgba(98, 227, 212, 1) inset;
  }
}

.cnt-colum-middle-up-left-down {
  width: 367px;
  height: 173px;
  border-radius: 30px;
  background: linear-gradient(135deg, rgba(128, 212, 68, 1) 0%, rgba(138, 230, 185, 1) 100%);
  -webkit-animation-name: cnt-colum-middle-up-left-down-animation;
}

@-webkit-keyframes cnt-colum-middle-up-left-down-animation {
  0% {
    box-shadow: 0 0px 0px rgba(128, 212, 68, 0), 0 0px 0px rgba(128, 212, 68, 0) inset;
  }

  100% {
    border: 0px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0px 18px rgba(128, 212, 68, 1), 0 0px 18px rgba(128, 212, 68, 1) inset;
  }
}

.cnt-colum-middle-up-middle {
  height: 568px;
  width: 173px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cnt-colum-middle-up-middle-up {
  width: 173px;
  height: 370px;
  border-radius: 30px;
  background: linear-gradient(225deg, rgba(74, 102, 186, 1) 0%, rgba(90, 206, 214, 1) 0%, rgba(67, 91, 247, 1) 100%);
  -webkit-animation-name: cnt-colum-middle-up-middle-up-animation;
}

@-webkit-keyframes cnt-colum-middle-up-middle-up-animation {
  0% {
    box-shadow: 0 0px 0px rgba(67, 91, 247, 0), 0 0px 0px rgba(67, 91, 247, 0) inset;
  }

  100% {
    border: 0px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0px 18px rgba(67, 91, 247, 1), 0 0px 18px rgba(67, 91, 247, 1) inset;
  }
}

.cnt-colum-middle-up-middle-down {
  width: 173px;
  height: 173px;
  background: linear-gradient(225deg, rgba(247, 140, 160, 1) 0%, rgba(249, 116, 143, 1) 31.67%, rgba(235, 35, 72, 1) 100%);
  border-radius: 30px;
  -webkit-animation-name: cnt-colum-middle-up-middle-down-animation;
}

@-webkit-keyframes cnt-colum-middle-up-middle-down-animation {
  0% {
    box-shadow: 0 0px 0px rgba(249, 116, 143, 0), 0 0px 0px rgba(249, 116, 143, 0) inset;
  }

  100% {
    border: 0px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0px 18px rgba(249, 116, 143, 1), 0 0px 18px rgba(249, 116, 143, 1) inset;
  }
}

.cnt-colum-middle-up-right {
  height: 568px;
  width: 173px;
  border-radius: 30px;
  background: linear-gradient(135deg, rgba(227, 23, 23, 1) 0%, rgba(252, 68, 120, 1) 0%, rgba(252, 93, 226, 1) 100%, rgba(224, 79, 166, 1) 101%);
  -webkit-animation-name: cnt-colum-middle-up-right-animation;
}

@-webkit-keyframes cnt-colum-middle-up-right-animation {
  0% {
    box-shadow: 0 0px 0px rgba(252, 93, 226, 0), 0 0px 0px rgba(252, 93, 226, 0) inset;
  }

  100% {
    border: 0px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0px 18px rgba(252, 93, 226, 1), 0 0px 18px rgba(252, 93, 226, 1) inset;
  }
}

.cnt-colum-middle-down {
  width: 809px;
  height: 216px;
  transition: all 200ms ease-in-out;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cnt-colum-middle-down>table {
  height: 196px;
  width: 789px;
  border-radius: 12px;
}

.cnt-colum-middle-down>table>tr>td {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  cursor: pointer;
  color: white;
}

.cnt-colum-middle-down>table>tr>td a {
  text-decoration: none;
  color: white;
}

.cnt-colum-middle-down>table>tr>td:hover {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 4px;
}

.cnt-colum-right {
  width: 498px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cnt-colum-right-up {
  width: 498px;
  height: 393px;
  transition: all 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cnt-colum-right-up div:nth-child(1) {
  width: 458px;
  height: 173px;
  background-color: lightseagreen;
  border-radius: 12px;
  font-size: 26px;
}

.cnt-colum-right-up div:nth-child(1):hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.cnt-colum-right-down {
  width: 498px;
  height: 439px;
  transition: all 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cnt-colum-right-down .title {
  margin-left: 12px;
  width: 474px;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 26px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cnt-colum-right-down .title span:nth-child(2) {
  cursor: pointer;
  font-size: 18px;
}

.cnt-colum-right-down .title span:nth-child(2):hover {
  color: aqua;
  cursor: pointer;
}

.cnt-colum-right-down .list-box {
  margin-left: 12px;
  width: 474px;
  height: 389px;
  display: flex;
  flex-direction: column;
}

.cnt-colum-right-down .list-box .li {
  height: 38.9px;
  width: 474px;
  text-decoration: none;
  font-size: 18px;
  color: white;

  display: flex;
  align-items: center;
}

.cnt-colum-right-down .list-box .li:hover {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 4px;
}

.cnt-colum-right-down .list-box .li span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}