.page-container {
  width: 1540px;
  height: 950px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  width: 1100px;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-up {
  width: 1100px;
  height: 465px;
  border-radius: 12px;
  background: rgba(46, 47, 64, 1);
}

.left-up .title {
  width: 1100px;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px double rgba(65, 66, 81, 1);
}

.left-up .title .img {
  width: 12px;
  height: 17px;
  margin-left: 16px;
  background-image: url('@/assets/PeopleLivelihood/CulturalTourism/chart-title-triangle.png');
}

.left-up .title .text {
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.left-up .content {
  width: 1100px;
  height: 413px;
}

.left-down {
  width: 1100px;
  height: 465px;
  display: flex;
  justify-content: space-between;
}

.left-down-left {
  width: 660px;
  height: 465px;
  border-radius: 12px;
  background: rgba(46, 47, 64, 1);
}

.left-down-left .title {
  width: 660px;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px double rgba(65, 66, 81, 1);
}

.left-down-left .title .img {
  width: 12px;
  height: 17px;
  margin-left: 16px;
  background-image: url('@/assets/PeopleLivelihood/CulturalTourism/chart-title-triangle.png');
}

.left-down-left .title .text {
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.left-down-left .content {
  width: 660px;
  height: 413px;
}

.left-down-right {
  width: 420px;
  height: 465px;
  border-radius: 12px;
  background: rgba(46, 47, 64, 1);
}

.left-down-right .title {
  width: 420px;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px double rgba(65, 66, 81, 1);
}

.left-down-right .title .img {
  width: 12px;
  height: 17px;
  margin-left: 16px;
  background-image: url('@/assets/PeopleLivelihood/CulturalTourism/chart-title-triangle.png');
}

.left-down-right .title .text {
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.left-down-right .content {
  width: 420px;
  height: 413px;
}

.right {
  width: 420px;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-up {
  width: 420px;
  height: 465px;
  border-radius: 12px;
  background: rgba(46, 47, 64, 1);
}

.right-up .title {
  width: 420px;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px double rgba(65, 66, 81, 1);
}

.right-up .title .img {
  width: 12px;
  height: 17px;
  margin-left: 16px;
  background-image: url('@/assets/PeopleLivelihood/CulturalTourism/chart-title-triangle.png');
}

.right-up .title .text {
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.right-up .content {
  width: 420px;
  height: 413px;
}

.right-down {
  width: 420px;
  height: 465px;
  border-radius: 12px;
  background: rgba(46, 47, 64, 1);
}

.right-down .title {
  width: 420px;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px double rgba(65, 66, 81, 1);
}

.right-down .title .img {
  width: 12px;
  height: 17px;
  margin-left: 16px;
  background-image: url('@/assets/PeopleLivelihood/CulturalTourism/chart-title-triangle.png');
}

.right-down .title .text {
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.right-down .content {
  width: 420px;
  height: 413px;
}